--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
fastapi
uvicorn
python-multipart
python-dotenv
pyjwt[crypto]
PyMuPDF
python-docx
qdrant-client
langchain-core
langchain-groq
langchain-qdrant
langchain-huggingface
langchain-text-splitters
sentence-transformers
groq